%ul.nav.nav-pills.nav-stacked
	- @painters.each do |painter|
		%li{ :class => "#{'active' if (!painter.nil? && painter.try(:id).eql?(@painter.try(:id)))}" }
			- if request.params[:action].eql?('permanent') || request.params[:action].eql?('painter_permanent')
				= link_to painter.try(:name), painter_permanent_wage_path(painter.try(:id))
			- if request.params[:action].eql?('monthly') || request.params[:action].eql?('painter_monthly')
				= link_to painter.try(:name), painter_monthly_wage_path(painter.try(:id))