#pettyCashItemModal.modal.fade
  .modal-dialog{ :role => "document" }
    .modal-content
      .modal-header
        %button.close{ :data => { :dismiss => "modal" } }
          %span{ :aria => { :hidden => true } }
            = "&times;".html_safe
        %h4.modal-title{ :id => "pettyCashItemModalLabel"}
          New Payment
      .modal-body
        
      