#pettyCashItemsModal.modal.fade
  .modal-dialog.modal-lg{ :role => "document" }
    .modal-content
      .modal-header
        %button.close{ :data => { :dismiss => "modal" } }
          %span{ :aria => { :hidden => true } }
            = "&times;".html_safe
        %h4.modal-title{ :id => "pettyCashItemsModalLabel"}
          Transactions
      .modal-body
        
      