/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px !important;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px !important;
  border-bottom: 1px solid #eee !important;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0 !important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 51px !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: block !important;
    padding: 20px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5 !important;
    border-right: 1px solid #eee !important;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px !important; /* 20px padding + 1px border */
  margin-bottom: 20px !important;
  margin-left: -20px !important;
}
.nav-sidebar > li > a {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}


/*
 * Main content
 */

.main {
  padding: 20px !important;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0 !important;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px !important;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0 !important;
}
.placeholder {
  margin-bottom: 20px !important;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#painterSkills_chosen {
  width: 100% !important;
}
